body {
    padding: 20px;
}


.bx--body  {
padding-top: 5em;
padding-left: 20em;
}

.p20 {
    padding: 2em;
    font-family: monospace;
    font-size: 2em;
}

.canvasbox {
    border-radius: 3px;
    margin-right: 10px;
    width: 450px;
    height: 380px;
    border-bottom: 3px solid #0063FF;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;

}

.mb10 {
    margin-bottom: 10px
}

.mt10 {
    margin-top: 10px;
    box-shadow: 1px 1px 1px black;
}

.updatenote {
    padding: 10px;
    background: rgb(245, 147, 20);
    color: white;
    display: inline;
}